{% extends "layout.twig" %}

{% block content %}

    <h1>{{ event.name }}</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="{{ (page == 'sessions') ? 'active' : '' }}"><a href="{{ path('event-sessions', {'id': event.id}) }}" role="tab">Sessions</a></li>
        <li class="{{ (page == 'standings') ? 'active' : '' }}"><a href="{{ path('event-standings', {'id': event.id}) }}" role="tab">Standings</a></li>
        <li class="{{ (page == 'evolution') ? 'active' : '' }}"><a href="{{ path('event-evolution', {'id': event.id}) }}" role="tab">Evolution</a></li>
    </ul>

    {% block eventContent %}{% endblock %}

{% endblock %}
