{% extends "layout.twig" %}

{% block content %}

    <h1>Check Session results</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Driver</th>
                <th>Car</th>
                <th>Average Time</th>
                <th>Fastest Time</th>
                <th>Total laps</th>
                <th>Incidents</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in results.driversResults %}
                <tr>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.car }}</td>
                    <td>{{ driver.averageTime }}</td>
                    <td>{{ driver.fastestTime }}</td>
                    <td>{{ driver.totalLaps }}</td>
                    <td>{{ driver.incidents }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post" enctype="multipart/form-data" action="/index.php/session/import">
        <button type="submit" class="btn btn-default">Import</button>
    </form>

{% endblock %}
